@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .contents-item p {
    font-size: 20px;
    margin-top: 30px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }
  .header-list ul li {
    display: none;
  }

  span.menu-icon {
    display: block;
  }

  .btn {
    width: 100%;
  }
  .btn-wrapper {
    padding-top: 10px;
  }
  .facebook {
    margin-bottom: 10px;
  }
  .twitter {
    margin-bottom: 10px;
  }
  .instagram {
    margin-bottom: 10px;
  }

  .top-wrapper {
    text-align: center;
    padding-bottom: 10px;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  .contents-item {
    padding: 0 10px;
  }
  .contents-item img {
    width: 80%;
    height: 80%;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .contents-item p {
    font-size: 15px;
    padding-top: 0;
    padding-bottom: 30px;
  }

  input,
  textarea {
    width: 80%;
  }
}
