/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .copy-container h1 {
    font-size: 70px;
  }
  .copy-container h2 {
    font-size: 20px;
  }
  .contents-item p {
    font-size: 20px;
    margin-top: 30px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-list ul li {
    display: none;
  }
  .copy-container h1 {
    font-size: 50px;
  }
  .copy-container h2 {
    font-size: 15px;
  }
  .contents-item img {
    width: 100%;
  }
  .contents-item p {
    font-size: 15px;
    margin-top: 30px;
  }
  input,
  textarea {
    width: 100%;
  }
}
